# Installationen und Importe

In [11]:
!pip install pandas
import pandas as pd

Requirement already satisfied: pandas in c:\users\bilgi\anaconda3\lib\site-packages (1.1.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\bilgi\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\bilgi\anaconda3\lib\site-packages (from pandas) (2020.1)
Requirement already satisfied: numpy>=1.15.4 in c:\users\bilgi\anaconda3\lib\site-packages (from pandas) (1.19.2)
Requirement already satisfied: six>=1.5 in c:\users\bilgi\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

# Datenzubereitung

In [12]:
df = pd.DataFrame({"Buchstaben":["A","B","C","D"],"Zahlen":[1,2,3,4]})
df

  Buchstaben  Zahlen
0          A       1
1          B       2
2          C       3
3          D       4